@{
    ViewData["Title"] = "Não encontrado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<partial name="_Pesquisa" />

<br />
<br />
<div>
    <img src="~/img/404.png" class="img-text-center" alt="Não encontrado" />
</div>